.dataSelector {
  width: 400px;
  max-width: calc(100vw - 80px);
}

.optionGroup {
  margin-bottom: 40px;
}

.customButton {
  font-size: 14px;
  padding: 0.5em 1em;
  color: var(--island-fg);
  border: 1px solid var(--island-fg);
  cursor: pointer;
  border-radius: 0.4em;
  text-align: center;
  transition: color 200ms ease, background-color 200ms ease;

  &:hover {
    opacity: 0.8;
  }
}

.textArea {
  background-color: transparent;
  color: var(--island-fg);
  border: 1px solid var(--island-fg);
  border-radius: 0.4em;
  resize: vertical;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 14px;
  font-family: inherit;
  min-height: 100px;
  margin-bottom: 15px;

  &::placeholder {
    color: var(--island-fg);
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    border-color: var(--island-fg);
    opacity: 1;
  }
}

.groupTitle {
  margin-bottom: 20px;
  font-size: 18px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  font-size: 14px;
  padding: 0.5em 1em;
  color: var(--island-fg);
  border: 1px solid;
  cursor: pointer;
  border-radius: 0.4em;

  @media (max-width: 1600px) {
    font-size: 12px;
  }

  &:hover {
    transition: color 200ms ease, background-color 200ms ease;
  }
}
