.themeSwitcher {
  max-height: calc(100vh - 80px);
  width: 800px;
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 220px);
  display: grid;
  grid-gap: 40px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    overflow-y: auto;
  }
}

.theme {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);

    .palette {
      box-shadow: 0 0 15px var(--primary);
    }

    h3 {
      color: var(--primary);
      text-shadow: 0 0 8px var(--primary);
    }
  }
}

.palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 8px;
  overflow: hidden;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    to right,
    var(--bg) 0 20%,
    var(--tertiary) 0 40%,
    var(--secondary) 0 60%,
    var(--primary) 0 80%,
    var(--error) 0 100%
  );
  transition: box-shadow 0.3s ease;
}
